# Get latest from https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

# Visual Studio cache directory
.vs/
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix