<?xml version="1.0" ?>
<robot name="unity_wheeltec_ackermann" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Define robot constants -->
    <xacro:property name="base_length" value="0.762"/>
    <xacro:property name="base_width" value="0.35"/>
    <xacro:property name="base_height" value="0.15"/>
    <xacro:property name="wheel_radius" value="0.12"/>
    <xacro:property name="wheel_width" value="0.08"/>
    <xacro:property name="wheel_xoff_f" value="0.275"/>
    <xacro:property name="wheel_xoff_r" value="-0.255"/>
    <xacro:property name="wheel_yoff" value="0.295"/>
    <xacro:property name="wheel_zoff" value="0.07"/>
    
    <!-- Define wheel macro -->
    <xacro:macro name="wheel" params="prefix lwheel_xoff lwheel_yoff">
        <link name="${prefix}_link">
            <visual>
                <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
                </geometry>
                <material name="Black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
        </link>
        <joint name="${prefix}_joint" type="fixed">
            <parent link="unity_base_link"/>
            <child link="${prefix}_link"/>
            <origin xyz="${lwheel_xoff} ${lwheel_yoff} ${-wheel_zoff}" rpy="0 0 0"/>
            <axis xyz="0 1 0"/>
        </joint>
    </xacro:macro>

    <!-- Robot Base -->
    <link name="unity_base_link">
        <visual>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
            <material name="Gray">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
        </visual>
    </link>

    <!-- Robot Footprint -->
    <link name="unity_base_footprint"/>
    <joint name="unity_base_joint" type="fixed">
        <parent link="unity_base_link"/>
        <child link="unity_base_footprint"/>
        <origin xyz="0.0 0.0 ${-(wheel_radius+wheel_zoff)}" rpy="0 0 0"/>
    </joint>

    <!-- Robot Wheels -->
    <xacro:wheel prefix="unity_flwheel" lwheel_xoff="${wheel_xoff_f}" lwheel_yoff="${wheel_yoff}"/>
    <xacro:wheel prefix="unity_frwheel" lwheel_xoff="${wheel_xoff_f}" lwheel_yoff="${-wheel_yoff}"/>
    <xacro:wheel prefix="unity_rlwheel" lwheel_xoff="${wheel_xoff_r}" lwheel_yoff="${wheel_yoff}"/>
    <xacro:wheel prefix="unity_rrwheel" lwheel_xoff="${wheel_xoff_r}" lwheel_yoff="${-wheel_yoff}"/>

    <!-- Robot Laser Scan -->
    <joint name="unity_laser_joint" type="fixed">
        <origin xyz="0.265 0.0 0.16" rpy="0 0 0"/>
        <parent link="unity_base_link"/>
        <child link="unity_laser_link"/>
        <axis xyz="0 0 0"/>
    </joint>

    <link name="unity_laser_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.035" length = "0.02"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
    </link>

</robot>
